<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authorization>
      <allow roles="patron, librarian" />
    </authorization>
    <authentication mode="Forms" />
    <roleManager enabled="true" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>

    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183_s14_g2; Persist Security Info=True; User ID=6k183_s14_g2; Password=#Password"/>
    <add name="cs_materials" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183_s14_g2; Persist Security Info=True; User ID=6k183_s14_g2; Password=#Password" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>